/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fundoblur.jpg'); /* Substitua 'sua-imagem.jpg' pelo caminho para sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço disponível */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    /* Outras propriedades de estilo para o corpo da página, como cores de texto, margens, etc. */
}


:root
{
    --crl: rgb(0, 0, 0);
}

/* Estilos para o menu fixo */
.menu {
    position: fixed;
    top: 0;
    left: 500px;
    width: ;
    background-color: transparent; /* Cor de fundo do menu */
    color: #fff; /* Cor do texto do menu */
    padding: 10px 0;
    text-align: center;
}



.navigation
{
    width: 450px;
    height: 55px;
    background: rgba(255, 255, 255, 0.26) ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.navigation ul
{
    display: flex;
    width: 400px;   /*distancia entre icones*/
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 180px; 
    z-index: 2;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;    /*colocar eles mais para o lado em conjunto*/
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: relative;
    line-height: 15px;
    font-size: 1.5em;  /*tamanho*/
    text-align: center;
    transition: 0.2s;
    color: var(--crl);
}
.navigation ul li:hover a .icon
{
    transform: translateX(-30px); /*lado esquedo que vai*/
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--crl);
    font-weight: 30;
    font-size: 0.10em;
    letter-spacing: 0.1em;
    transition: 0;
}
.navigation ul li:active a .icon
{
    transform: translateX(50px); /*lado direito*/
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--crl);
    font-weight: 900;  /*letra grossura*/
    font-size: 0.9em;
    letter-spacing: 0.07em;
    transition: 0.7ms;
    opacity: 0;
    transform: translateY(10px);
}
.navigation ul li:active a .text  
{
    opacity: 5;
    transform: translateY(0px);
}

.indicador::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background:transparent;
    border-top-right-radius: 20px;
}
.indicador::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background:transparent;
    border-top-right-radius: 20px;
}





body {
    height: 100vh;
    display: flex;
    align-items: flex;
    justify-content: flex;
    font-family: sans-serif;
    background-color: #ffffff;
}

/* Button */
button {
    border: none;
    background-color: transparent;
    align-items: flex;
    justify-content: flex;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(255, 255, 255);
}

i {
    color: rgba(255, 255, 255, 0.479);
    font-size: 4em;
}

/* Book */
.book {
    width: 350px;
    height: 500px;
    position: relative;
    transition: transform 0.5s;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front {
    backface-visibility: hidden;
    border-left: 3px solid #3f2104;
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

/* Customization */

.book-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.cover-img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 0px;
}

.img1 {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 0px;
}

.img2 {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 0px;
}

.img3 {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 0px;
}

.img4 {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 0px;
}

.img5 {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 0px;
}


#b1 {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-around;
}

#b1 h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#b1 p {
    margin-bottom: 20px;
}
